<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>邮件模板</title>
</head>
<body>
—————————————————————————————————————————————————————————
顺颂商祺！<br></br>
<span th:text="${id}"></span><br></br>
研发中心 • 公共产品线  APM产品部<br></br>
神州泰岳软件股份有限公司<br></br>
电话：<br></br>
手机：+86 18347457687<br></br>
邮件：lipengcheng2@ultrapower.com.cn<br></br>
网址：<a th:href="@{www.ultrapower.com.cn}">[www.ultrapower.com.cn]www.ultrapower.com.cn</a><br></br>
地址：北京市朝阳区北苑路甲13号院北辰泰岳大厦22层  100107<br></br>
（地铁5号线北苑路北站，A2出口，向北100米十字路口西南角）<br></br>
----------- 居利思义 • 身劳心安 • 人强我强 • 共同发展 -----------<br></br>
</body>
</html>